{% if menu != blank %}
  <nav class="HeaderNav header__menu h-full flex items-center" role="navigation" aria-label="Primary" data-component="DesktopMegamenu">
    <ul class="h-full flex items-center">
      {% for link in menu.links %}
        {%- liquid
          assign featured_image = nil
          assign featured_link_title_default = "layout.header.megamenu.link_title" | t
          assign link_color = nil

          for block in section.blocks
            if block.settings.menu_item_name == link.title
              assign featured_image = block.settings.image | default: link.object.image
              assign featured_link = block.settings.link | default: link.url
              assign featured_link_title = block.settings.link_text | default: featured_link_title_default
              assign featured_title = block.settings.title | default: link.title
              assign link_color = block.settings.menu_item_color

              break
            endif
          endfor

          if link.object.image != blank and featured_image == nil
            assign featured_image = link.object.image
            assign featured_link = link.url
            assign featured_link_title = featured_link_title_default
            assign featured_title = link.title
          endif
        -%}

        <li
          class="HeaderNav__Link h-full flex items-center"
          {% if link.levels > 0 %}data-has-childlink{% endif %}
        >
          <a
            class="relative h-full flex items-center justify-center p-4 text-12{% if settings.type_nav_caps %} uppercase{% endif %}"
            href="{{ link.url }}"
            style="color: {{ link_color | default: 'inherit' }};"
          >
            {{ link.title }}
          </a>

          {% if link.links.size > 0 %}
            <div class="HeaderNav__Dropdown">
              <div class="HeaderNav__DropdownInner">
                <ul class="HeaderNav__DropdownItems{% if link.links.size > 3 %} four-columns{% endif %}">
                  {% for child_link in link.links %}
                    {%- liquid
                      assign link_tag = "a"

                      if child_link.url == "#"
                        assign link_tag = "span"
                      endif
                    -%}

                    <li class="space-y-4">
                      <{{ link_tag }}
                        class="text-14 font-bold text-brand-accent transition-colors duration-300 ease-in-out{% if settings.type_nav_caps %} uppercase{% endif %}"
                        {% unless link_tag == "span" %}href="{{ child_link.url }}"{% endunless %}
                      >
                        {{ child_link.title }}
                      </{{ link_tag }}>

                      {% if child_link.links.size > 0 %}
                        <ul class="flex flex-col space-y-4">
                          {% for grandchild_link in child_link.links %}
                            {% assign view_all_button_trigger = 'layout.header.megamenu.view_all_button_trigger' | t %}

                            <li>
                              {% if grandchild_link.title contains view_all_button_trigger %}
                                <a
                                  class="btn btn--input btn--outline btn--primary caps btn--all"
                                  href="{{ grandchild_link.url }}"
                                >
                                  {{ grandchild_link.title }}
                                </a>
                              {% else %}
                                <a
                                  class="text-12 transition-colors duration-300 ease-in-out{% if settings.type_nav_caps %} uppercase{% endif %}"
                                  href="{{ grandchild_link.url }}"
                                >
                                  {{ grandchild_link.title }}
                                </a>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>

                {% if featured_image %}
                  <div class="HeaderNav__DropdownFeatured">
                    <div>
                      <a href="{{ featured_link }}" class="flex aspect-w-6 aspect-h-4">
                        <img
                          class="object-cover"
                          src="{{ featured_image | image_url }}"
                          alt="{{ featured_image.alt }}"
                          width="auto"
                          height="auto"
                          loading="lazy"
                        >
                      </a>
                    </div>

                    <div class="mt-2">
                      <div>
                        <a href="{{ featured_link }}" class="text-16 font-normal uppercase">{{ featured_title }}</a>
                      </div>

                      <div>
                        <a href="{{ featured_link }}" class="underline">{{ featured_link_title }}</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <div class="absolute top-full -left-10 -right-10 bg-white h-[var(--header-dropdown-placeholder-height,0)] pointer-events-none -z-2 transition-all duration-500 ease-in-out xxl:-left-12 xxl:-right-12"></div>
  </nav>
{% endif %}