<div class="klaviyo-backinstock-form">
  <div class="input-group">
    <input type="email" id="klaviyo-backinstock-email" placeholder="{{ settings.k_email_placeholder }}" autocorrect="off" autocapitalize="off" name="contact[email]" required="">
    <button type="submit" class="btn" data-variant-id="{{ current_variant.id }}">{{ settings.k_product_btn }}</button>
  </div>
  <div class="valid-msg">{{ settings.k_valid_msg }}</div>
  <p class="disclaimer-text">{{ settings.k_disclaimer_content }}</p>
  <div class="success-msg">{{ settings.k_success_msg }}</div>
</div>